#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

input {
  padding: 0.8em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #646cff;
}
